<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.misnadqasim.uopeoplecampus2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/uopeople"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/uopeople_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UoPeopleCampus2"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">

        <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:theme="@style/Theme.SettingsTheme"/>
        <activity
            android:name=".ContributeActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:forceDarkAllowed="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>